body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 1rem 2rem;
}

#output, #controlls {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem 0 ;
}

legend { font-weight: bold;}
